body {
  margin: 0;
}

.global-container {
  width: 100%;
}

.pantalla50 {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  justify-content: space-around;
}

svg {
  width: 30px;
  height: 30px;
}

input {
  width: 100%;
  height: 2rem;
  font-size: 1em;
}

textarea {
  font-size: 1.2em;
}

label {
  font-weight: bold;
}

.boton-borrar:hover {
  fill: red;
}

.boton-editar:hover {
  fill: blue;
}

.boton-guardar:hover {
  fill: blue;
}

.tabla {
  width: 100%;
}

.tabla .tabla-titulo {
  border-bottom: groove;
}

.tabla .table-header {
  display: none;
}

.tabla .tabla-titulo h2 {
  font-size: 1.2rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.tabla .tabla-contenedor {
  width: 100%;
}
.tabla .tabla-contenedor .table-elements .swipe-element {
  border-bottom: solid 1px;
}
.tabla .tabla-contenedor .table-elements .swipe-element .table-content p {
  margin: 0.2em 1em;
}

.tabla .tabla-contenedor table {
  border-collapse: collapse;
  border-spacing: 2px;
  border: 1px solid #e9ecef;
  width: 100%;
}

.tabla-cabecera {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.table-icons {
  width: 100%;
  min-height: 20vh;
  text-align: left;
}
.table-icons .boton-borrar {
  display: none;
  text-align: right;
  background-color: #FF5733;
  padding: 1em 2em;
}
.table-icons .boton-borrar#swipe-active {
  display: block;
}
.table-icons .boton-editar {
  display: none;
  padding: 1em 2em;
  background-color: cadetblue;
}
.table-icons .boton-editar#swipe-active {
  display: block;
}

.formulario {
  width: 90%;
  justify-content: right;
  margin: auto;
  border-radius: 4px;
  background-color: #fff;
}

.formulario .formulario-titulo {
  margin-bottom: 10%;
  width: 100%;
}

.formulario .formulario-titulo h2 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 10%;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.formulario .formulario-contenedor {
  width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo {
  margin-bottom: 1em;
  width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo .formulario-label {
  margin-bottom: 0.5em;
  width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo .formulario-label label {
  width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo .formulario-input input {
  padding: 0.2em;
  width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo .formulario-input input {
  padding: 0.2em;
  width: 100%;
}

.sidebar {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2em;
  background-color: aquamarine;
  padding: 0.5em;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

#menu-show .dropdown-hidden {
  height: 0;
  overflow: hidden;
  transition: 1s;
}

.dropdown {
  text-align: center;
}

#menu-show.show .dropdown-hidden {
  height: 50vh;
}

.show {
  display: block;
}

.dropdown-show {
  cursor: pointer;
  justify-content: center;
}

ul {
  list-style-type: none;
}

li {
  cursor: pointer;
  display: inline-block;
  margin-right: 2em;
}

.dropdown-hidden li:hover {
  color: blueviolet;
}

.swipe-element {
  position: relative;
  margin-bottom: 0.5em;
  display: flex;
  width: 100%;
  height: 60px;
}

.swipe-front {
  position: absolute;
  display: flex;
  width: 100%;
  height: 60px;
  left: 0;
  top: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: center;
  z-index: 2;
  /* // [START touch-action-example] */
  /* Pass all touches to javascript */
  touch-action: none;
  /* // [END touch-action-example] */
}

.tabla .tabla-contenedor .tabla-cabecera {
  display: none;
}

.table-filter {
  width: 100%;
  font-size: 1em;
  background-color: #cccccc;
}
.table-filter.filter-active .table-filter-container {
  max-height: 50vh;
  overflow: visible;
}
.table-filter .table-filter-buttons {
  margin: 0 1em;
}
.table-filter .table-filter-container {
  max-height: 0;
  overflow: hidden;
}
.table-filter .table-filter-buttons .table-filter-button {
  display: none;
}
.table-filter .table-filter-buttons .table-filter-button.button-active {
  display: flex;
  align-items: center;
}
