.menu-inline{
	
	position: relative;
    width: max-content;
	z-index: 1001;

	li{

		cursor: pointer;
		display: inline-flex;

		a h4{
			color: white;
			font-size: 1em;
		}

		&:hover a h4{
			color: #48423d;
			background-color: white;
		}

		@include respond-to('lg'){

			a h4{
				font-size: 1.6em;
			}
		}

		@include respond-to('wsga'){	
			
			a h4{
				font-size: 1em;
			}
		}
	}

	&:hover .menu{
		opacity: 1;
		top: 5vh;
		transition: all 0.7s;
	}
}


.menu{

	display: flex;
	opacity: 0;
	position: absolute;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	transition: all 0.7s;
	top: 0;
	
}