.tabla .tabla-contenedor .tabla-cabecera{
    display: flex;
    
  }

  .swipe-front{
    display: flex;
    margin-bottom: 1em;
    
    .swipe-back{
      display: flex;
    }

    .table-content{
      display: flex;
      margin-right: 2em;
    }

  }