.table-filter{
    width: 100%;
    font-size: 1em;
    background-color: #c2efe1;
    cursor: pointer;

        &.filter-active{
           
            .table-filter-container{
                margin: auto auto;
                max-height: 50vh;
                max-width: 40%;
                padding: 1em 1em;
                overflow: visible;
                cursor: pointer;
            }
        }

        .table-filter-buttons{
            margin: 0 3em;
            align-content: right;
        }

        .table-filter-container{
            max-height: 0;
            overflow: hidden;
            justify-content: center;
        }

    .table-filter-buttons .table-filter-button{
        display: none;

        &.button-active{
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                margin: 0;
            }  
        }

        .table-filter-button .open-f{
            margin: 0;
        }
    }
    
}
