.table-filter{
    width: 100%;
    font-size: 1em;
    background-color: #cccccc;
    cursor: pointer;
    

        &.filter-active{
           
            .table-filter-container{
                max-height: 50vh;
                overflow: visible;
                cursor: pointer;
            }
        }

        .table-filter-buttons{
            margin: 0 3em;
            align-content: right;
        }

        .table-filter-container{
            max-height: 0;
            overflow: hidden;
            justify-content: center;
        }

    .table-filter-buttons .table-filter-button{
        display: none;

        &.button-active{
            display: flex;
            align-items: center;
            justify-content: right;

            .p{
                font-size: 2em;
            }
            
        }
    }
    
}
