.formulario{
    width: 40%;
    justify-content: right;
    margin: 5em 0;
}

.formulario .formulario-titulo{
    width: 100%; 
    justify-content: center;
}

.formulario .formulario-titulo h2{
    font-size: 1.2em;
    text-align: left;  
    margin-bottom: 2%; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: bolder;
}

.formulario .formulario-contenedor{
    width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo{
    margin-bottom: 1em;
    width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo .formulario-label{
    margin-bottom: 0.5em;
    width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo .formulario-label label{
    width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo .formulario-input input{
    padding:0.2em ; 
    width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo .formulario-input input{
    padding:0.2em ; 
    width: 100%;
}