.formulario{
    width: 50%;
    margin: 2em 2em;
    padding: 1em;
    border: 1px groove;
    border-radius: 4px;
    background-color: #fff;
}

.form-input{
    margin-bottom: 1em;
}

.option-buttons{
    display: flex;

    .formulario-enviar{
        margin-right: 1em;
    }
}

.form-label{
    margin-bottom: 1em;
}

.formulario .formulario-enviar{
    .boton-guardar button{
       cursor: pointer;
    }
}

.formulario .formulario-titulo{
    width: 100%; 
    margin-bottom: 1em;
    border-bottom: groove;
    display: flex;
    justify-content: space-between;

    #create-button:hover{
        cursor: pointer;
    }
}

.formulario .formulario-titulo h2{
    font-size: 1.2em;
    text-align: left;  
    font-family: 'Montserrat', sans-serif; 
    font-weight: bolder;
}

.formulario .formulario-contenedor{
    width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo{
    margin-bottom: 1em;
}

.formulario .formulario-contenedor .formulario-grupo .formulario-label{
    margin-bottom: 0.5em;
    width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo .formulario-label label{
    width: 100%;
}

input,
select{
    padding: 0; 
    margin:0;
    height: 2em;
    width: 100%;
}

