// globales // 

body{
    margin: 0;
    background-color: #F0FAFF;
}

th{
    text-align: left; 
    padding: 0.2rem; 
    border: 0.1em solid #e9ecef;
    background-color: silver;
}

td{ 
    padding: 0.1rem; 
    border: 0.1em solid #e9ecef;
}

svg{
    width:25px;
    height:25px; 
}

.global-container{
    display: flex; 
    justify-content: space-around;
    width: 100%; 
    font-size: 0.85em; 
    font-family: 'Montserrat', sans-serif;
}

.admin-faq-container{
    display: flex;
    margin-right: 2em;
    width: 90%;
}

textarea{
    font-size: 1.2em;
}

label{
    font-weight: bold;
}

.boton-borrar:hover{
    fill: red;
}

.boton-editar:hover{
    fill: blue;
}

.boton-guardar:hover{
    fill: blue;
}
