.save-container{
    width: 10em;
    height: 5em;
    margin-left: 60vh;
    margin-top: 8vh;
    border: solid yellow;
    
}

.save-show

.show{

    .save-message{
        justify-content: right;
        height: 15vh;
        margin-top: 5em;
    }   
}
