
.sidebar{
   
    font-weight: bold;
    font-size: 1.2em;
    background-color: #cccccc;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif; 
    font-weight: normal;
    cursor: pointer;
}

#menu-show .dropdown-hidden{
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.dropdown-show{
    display: flex;
    padding: 0.5em 2em;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.dropdown .dropdown-title{
    margin-top: 0;
}

#menu-show.show{

    .dropdown-hidden{
        height: 10vh;
    }   
}

.dropdown .show{
    display: flex;
    margin-left: 2em;
}

ul{
    list-style-type:none;
}

li{
    cursor: pointer;
    display: inline-block;
    margin-right: 2em;
    font-size: 1em;
}

.dropdown-hidden li:hover{
    color: blueviolet;
}

.close-session{
    font-size: 0.8em;

    &:hover{
        color: red;
    }
}