.tabla{
    width: 100%; 
    margin: 2em 0;
    border: 1px groove;
    background-color: #fff;
    padding: 1em;
} 

.tabla .tabla-titulo{
    width: 100%; 
    border-bottom: groove;
} 

.tabla .table-header {
    display: flex;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0;
    
    p{
      margin-right: 40%;
    }
  }

.tabla .tabla-titulo h2{
    font-size: 1.2em; 
    text-align: center;  
    font-family: 'Montserrat', sans-serif; 
    font-weight: bolder;
} 

.tabla .tabla-contenedor{
    width: 100%;
}

.tabla .tabla-contenedor table{
    border-collapse: collapse;
    border-spacing: 2px; 
    border: 1px solid #e9ecef; 
    width: 100%;
}

.tabla-cabecera{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; 
    font-size: 1rem;
}