.tabs{
    width: 50%;
    display: flex;

    .tab{

        .tab-content{
            max-height: 0;
            overflow: hidden;
        }
  
    }

    .tab.active{
        width: 60%;
    }

    .tab.active .tab-content{
        display: block;
        max-height: 100vh;
        overflow: visible;
        width: 100%;
    } 
}

.tabs-buttons{
    display: flex;
    background-color: #c2efe1;
    border: solid grey;
    margin-bottom: 2em;

    .tab-button{
        
        margin-right: 1em;
        cursor: pointer;
        padding: 0.02em;
    }

    .tab-button:hover{
        background-color:aquamarine
    }
}