.tabla{
    width: 100%; 
} 

.tabla .tabla-titulo{
    width: 100%; 
} 

.tabla .tabla-titulo h2{
    font-size: 1.2rem; 
    text-align: center;  
    font-family: 'Montserrat', sans-serif; 
    font-weight: bolder;
} 

.tabla .tabla-contenedor{
    width: 100%;
}

.tabla .tabla-contenedor table{
    border-collapse: collapse;
    border-spacing: 2px; 
    border: 1px solid #e9ecef; 
    width: 100%;
}

.tabla-cabecera{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; 
    font-size: 1rem;
}