
.table-pagination{

    .table-pagination-buttons{
        
        .table-pagination-button{
            font-weight: bold;
        }

        .table-pagination-button:hover{
            cursor: pointer;
            background-color: aquamarine;
            
        }
    }
}



