
 .swipe-element {
  position: relative;
  margin-bottom: 0.5em;

  display: flex;

  width: 100%;
  height: 60px;
}

.swipe-front {
  position: absolute;
  display: flex;

  width: 100%;
  height: 60px;

  left: 0;
  top: 0;
  
  margin: 0;
  box-sizing: border-box;

  vertical-align: center;

  z-index: 2;

  -ms-touch-action: none;
  /* // [START touch-action-example] */
  /* Pass all touches to javascript */
  touch-action: none;
  /* // [END touch-action-example] */
}

.tabla .tabla-contenedor .tabla-cabecera{
  display: none;
}