.table-filter{
    width: 100%;
    font-size: 1em;
    background-color: #cccccc;

        &.filter-active{
           
            .table-filter-container{
                max-height: 50vh;
                overflow: visible;
            }
        }

        .form-label{
            margin: 0.5em 0.5em;
        }
        .form-input{
            margin: 0.5em 0.5em;
            overflow: hidden;

            input{
                height: 2em;
            }

            select{
                height: 2em;
            }
        }

        .table-filter-buttons{
            margin: 0 1em;
        }

        .table-filter-container{
            max-height: 0;
            overflow: hidden;
        }

    .table-filter-buttons .table-filter-button{
        display: none;

        &.button-active{
            display: flex;
            align-items: center;
            
        }
    }
    
}


