body{
    margin: 0;
}

.global-container{
    width: 100%;
    margin: 0 0.5em;
}

.pantalla50{
    font-size: 1em; 
    font-family: 'Montserrat', sans-serif;
}

svg{
    width: 30px;
    height: 30px; 
}

input{
    width: 100%; 
    height: 2rem;
    font-size: 1em;
}

textarea{
    font-size: 1.2em;
}

label{
    font-weight: bold;
}

.boton-borrar:hover{
    fill: red;
}

.boton-editar:hover{
    fill: blue;
}

.boton-guardar:hover{
    fill: blue;
}
