<<<<<<< HEAD
body{
    margin: 0;
}

th{
    text-align: left; 
    padding: 0.75em; 
=======
th{
    text-align: left; 
    padding: 0.75rem; 
>>>>>>> a2306b4dd3b72c58597f1b6a40a8f8c48b1c5612
    border: 0.1em solid #e9ecef;
    background-color: silver;
}

<<<<<<< HEAD
.global-container{
    width: 100%;
}

td{ 
    padding: 0.75em; 
=======
td{ 
    padding: 0.75rem; 
>>>>>>> a2306b4dd3b72c58597f1b6a40a8f8c48b1c5612
    border: 0.1em solid #e9ecef;
}

.pantalla50{
<<<<<<< HEAD
    width: 100%; 
    font-size: 1em; 
    font-family: 'Montserrat', sans-serif;
    justify-content: space-around;
=======
    display: flex; 
    justify-content: space-around;
    width: 100%; 
    font-size: 1rem; 
    font-family: 'Montserrat', sans-serif;
>>>>>>> a2306b4dd3b72c58597f1b6a40a8f8c48b1c5612
}

svg{
    width:24px;
    height:24px;
    
}

input{
    width: 100%; 
    height: 2rem;
    font-size: 1em;
}

textarea{
    font-size: 1.2em;
}

label{
    font-weight: bold;
}

.boton-borrar:hover{
    fill: red;
}

.boton-editar:hover{
    fill: blue;
}

.boton-guardar:hover{
    fill: blue;
}
<<<<<<< HEAD
=======

>>>>>>> a2306b4dd3b72c58597f1b6a40a8f8c48b1c5612
