.tabla{
    width: 100%; 
} 

.tabla .tabla-titulo{
    border-bottom: groove;
} 

.tabla .table-header{
    display: none;
}

.tabla .tabla-titulo h2{
    font-size: 1.2rem; 
    text-align: center;  
    font-family: 'Montserrat', sans-serif; 
    font-weight: bolder;
} 

.tabla .tabla-contenedor{
    width: 100%;


    .table-elements .swipe-element{
        border-bottom: solid 1px;
       }

    .table-elements .swipe-element .table-content p{
         margin: 0.2em 1em
        }
}

.tabla .tabla-contenedor table{
    border-collapse: collapse;
    border-spacing: 2px; 
    border: 1px solid #e9ecef; 
    width: 100%;
}

.tabla-cabecera{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; 
    font-size: 1rem;
}

.table-icons{
    width: 100%;
    min-height: 20vh;
    text-align: left;

    .boton-borrar {
        display: none;
        text-align: right;
        background-color: #FF5733;
        padding: 1em 2em;
      }
    
    .boton-borrar#swipe-active{
    display: block;
    }

    .boton-editar{
        display: none;
        padding: 1em 2em;
        background-color:cadetblue;
    }

    .boton-editar#swipe-active{
        display: block;
    }  

}

