.footer{
	background-color: #232323;
	color: #f1f1f4;
	height: max-content;
	margin-top: 0px;
	padding: 5% 10%;
	position: relative;
	width: 80%;
}

.footer:before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 20px;
    background-size: 40px 40px;
	transform: rotate(180deg);
}

.footer:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 30px;
    background-size: 80px 40px;

    transform: rotate(180deg);
}

.footer .footer-element-title{
	color: white;
	margin-bottom: 1.5em;
}

.footer .booking-button{
	margin-top: 2em;
	
}

.footer .footer-element-container{

	p,a,h1,h2,h3,h4,h5{
		color: white;
		font-weight: 400;
	}
}

.footer-element .fotter-logo{
	color: #232323;
}


.footer .footer-element-icon{

	margin-right: 0.5em;

	svg{
		height: 1em;
		width: 1em;

		path{
			fill: white;
		}
	}
}

.footer .footer-socials-container{
	display: flex;
}

.footer .footer-contact-item{
	display: flex;
	align-items: center;
	
}
