.topbar{

    background-color: white;;
    display: flex;
    padding: 0 1em;
	height: max-content;
    justify-content: space-between;
  
    .phone-element{
        display: flex;
        align-items: center;
        margin-right: 1em;
    }

    .mail-element{
        display: flex;
        align-items: center;
        margin-right: 1em;
    }
    
}