.main-content {
  width: 80%;
  margin: 5em auto;
  font-family: "Quicksand", sans-serif;
}
@media (max-width: 600px) {
  .main-content {
    width: 100%;
    margin: 0;
  }
}

.faqs {
  width: 80%;
}
.faqs .faq {
  margin-bottom: 1em;
}
.faqs .faq .faq-header {
  background-color: #7DCEA0;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}
.faqs .faq .faq-header .faq-title h2 {
  color: black;
  line-height: 2em;
  margin: 0;
}
.faqs .faq .faq-header .faq-title:hover h2 {
  color: azure;
}
.faqs .faq .faq-header .faq-button svg {
  height: 2.5em;
  width: 2.5em;
}
.faqs .faq .faq-header .faq-button:hover svg {
  cursor: pointer;
  fill: #92187e;
}
.faqs .faq .faq-header:hover {
  background-color: blue;
}
.faqs .faq .faq-description {
  background-color: #9CCFB3;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
.faqs .faq .faq-description p {
  color: black;
  margin: 0 0.5em;
}
.faqs .faq.active .faq-description {
  max-height: 100vh;
}

.faqs .faq-active .faq-description .desktop-featured {
  display: flex;
}
