body {
  color: #4e5359;
  background-color: #f3f3f5;
}

.main-content {
  width: 80%;
  margin: 5em auto;
  font-family: "Quicksand", sans-serif;
}
@media (max-width: 600px) {
  .main-content {
    width: 100%;
    margin: 0;
  }
}

.faqs {
  width: 80%;
}
.faqs .faq {
  margin-bottom: 1em;
}
.faqs .faq .faq-header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  align-items: center;
}
.faqs .faq .faq-header .faq-title h2 {
  color: black;
  line-height: 2em;
  margin: 0;
}
.faqs .faq .faq-header .faq-title:hover h2 {
  color: azure;
}
.faqs .faq .faq-header .faq-icon svg {
  height: 2em;
  width: 2em;
}
.faqs .faq .faq-header:hover {
  color: greenyellow;
  cursor: pointer;
}
.faqs .faq .faq-description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
.faqs .faq .faq-description p {
  color: black;
  margin: 0 0.5em;
}
.faqs .faq.active .faq-description {
  max-height: 100vh;
  padding: 1em 1em;
}
.faqs .faq.active .faq-description .desktop-featured {
  display: flex;
}
.faqs .faq.active .faq-description .desktop-gallery {
  display: grid;
  grid-template-columns: repeat(3, 0.1fr);
  margin: 2em;
}
.faqs .faq.active .faq-description .desktop-gallery .faq-description-image {
  margin: 0 0.5em;
}

.faqs .faq-active .faq-description .desktop-featured {
  display: flex;
}
