body {
  margin: 0;
  background-color: #F0FAFF;
}

th {
  text-align: left;
  padding: 0.2rem;
  border: 0.1em solid #e9ecef;
  background-color: silver;
}

td {
  padding: 0.1rem;
  border: 0.1em solid #e9ecef;
}

select {
  width: 30%;
}

svg {
  width: 22px;
  height: 22px;
}

.global-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 0.85em;
  font-family: "Montserrat", sans-serif;
}

.admin-faq-container {
  display: flex;
  margin-right: 2em;
  width: 90%;
}

textarea {
  font-size: 1.2em;
}

label {
  font-weight: bold;
}

.boton-borrar:hover {
  fill: red;
}

.boton-editar:hover {
  fill: blue;
}

.boton-guardar:hover {
  fill: blue;
}

.tabla {
  width: 100%;
  margin: 2em 0;
  border: 1px groove;
  background-color: #fff;
  padding: 1em;
}

.tabla .tabla-titulo {
  width: 100%;
  border-bottom: groove;
}

.tabla .table-header {
  display: flex;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0;
}
.tabla .table-header p {
  margin-right: 40%;
}

.tabla .tabla-titulo h2 {
  font-size: 1.2em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.tabla .tabla-contenedor {
  width: 100%;
}

.tabla .tabla-contenedor table {
  border-collapse: collapse;
  border-spacing: 2px;
  border: 1px solid #e9ecef;
  width: 100%;
}

.tabla-cabecera {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.formulario {
  width: 30%;
  margin: 2em 2em;
  padding: 1em;
  border: 1px groove;
  border-radius: 4px;
  background-color: #fff;
}

.formulario .formulario-titulo {
  width: 100%;
  margin-bottom: 1em;
  border-bottom: groove;
}

.formulario .formulario-titulo h2 {
  font-size: 1.2em;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.formulario .formulario-contenedor {
  width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo {
  margin-bottom: 1em;
  width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo .formulario-label {
  margin-bottom: 0.5em;
  width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo .formulario-label label {
  width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo .formulario-input input {
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar {
  justify-content: center;
  font-weight: bold;
  font-size: 1.2em;
  background-color: aquamarine;
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  cursor: pointer;
}

#menu-show .dropdown-hidden {
  height: 0;
  overflow: hidden;
  transition: 1s;
}

.dropdown {
  text-align: center;
}

.dropdown .dropdown-title {
  margin-top: 0;
}

#menu-show.show .dropdown-hidden {
  height: 15vh;
  margin-top: 5em;
}

.show {
  display: block;
}

.dropdown-show {
  cursor: pointer;
  justify-content: center;
}

ul {
  list-style-type: none;
}

li {
  cursor: pointer;
  display: inline-block;
  margin-right: 2em;
  font-size: 1.5em;
}

.dropdown-hidden li:hover {
  color: blueviolet;
}

.tabs {
  width: 50%;
  display: flex;
}
.tabs .tab .tab-content {
  max-height: 0;
  overflow: hidden;
}
.tabs .tab.active {
  width: 60%;
}
.tabs .tab.active .tab-content {
  display: block;
  max-height: 100vh;
  overflow: visible;
  width: 100%;
}

.tabs-buttons {
  display: flex;
  background-color: #c2efe1;
  border: solid grey;
  margin-bottom: 2em;
}
.tabs-buttons .tab-button {
  margin-right: 1em;
  cursor: pointer;
  padding: 0.02em;
}
.tabs-buttons .tab-button:hover {
  background-color: aquamarine;
}

.swipe-front {
  display: flex;
  margin-bottom: 1em;
}
.swipe-front .swipe-back {
  display: flex;
}
.swipe-front .table-content {
  display: flex;
  margin-right: 2em;
  width: 100%;
}
.swipe-front .table-content p {
  width: 40%;
  margin: 0;
}

.table-filter {
  width: 100%;
  font-size: 1em;
  background-color: #cccccc;
  cursor: pointer;
}
.table-filter.filter-active .table-filter-container {
  max-height: 50vh;
  overflow: visible;
  cursor: pointer;
}
.table-filter .table-filter-buttons {
  margin: 0 1em;
}
.table-filter .table-filter-container {
  max-height: 0;
  overflow: hidden;
}
.table-filter .table-filter-buttons .table-filter-button {
  display: none;
}
.table-filter .table-filter-buttons .table-filter-button.button-active {
  display: flex;
  align-items: center;
}
.table-filter .table-filter-buttons .table-filter-button.button-active .p {
  font-size: 2em;
}
