body {
  margin: 0;
}

th {
  text-align: left;
  padding: 0.75rem;
  border: 0.1em solid #e9ecef;
  background-color: silver;
}

td {
  padding: 0.75rem;
  border: 0.1em solid #e9ecef;
}

svg {
  width: 21px;
  height: 21px;
}

input {
  width: 100%;
  height: 2rem;
  font-size: 1em;
}

.global-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 0.9em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.admin-faq-container {
  width: 90%;
}

textarea {
  font-size: 1.2em;
}

label {
  font-weight: bold;
}

.boton-borrar:hover {
  fill: red;
}

.boton-editar:hover {
  fill: blue;
}

.boton-guardar:hover {
  fill: blue;
}

.tabla {
  width: 100%;
}

.tabla .tabla-titulo {
  width: 100%;
}

.tabla .tabla-titulo h2 {
  font-size: 1em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.tabla .tabla-contenedor {
  width: 100%;
}

.tabla .tabla-contenedor table {
  border-collapse: collapse;
  border-spacing: 2px;
  border: 1px solid #e9ecef;
  width: 100%;
}

.tabla-cabecera {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.formulario {
  width: 50%;
  justify-content: right;
  margin: 0 auto;
}

.formulario .formulario-titulo {
  width: 100%;
  justify-content: center;
}

.formulario .formulario-titulo h2 {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 10%;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.formulario .formulario-contenedor {
  width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo {
  margin-bottom: 1em;
  width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo .formulario-label {
  margin-bottom: 0.5em;
  width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo .formulario-label label {
  width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo .formulario-input input {
  padding: 0.2em;
  width: 100%;
}

.formulario .formulario-contenedor .formulario-grupo .formulario-input input {
  padding: 0.2em;
  width: 100%;
}

.sidebar {
  justify-content: center;
  font-weight: bold;
  font-size: 1.2em;
  background-color: aquamarine;
  padding: 0.5em;
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  cursor: pointer;
}

#menu-show .dropdown-hidden {
  height: 0;
  overflow: hidden;
  transition: 1s;
}

.dropdown {
  text-align: center;
}

.dropdown .dropdown-title {
  margin-top: 0;
}

#menu-show.show .dropdown-hidden {
  height: 15vh;
  margin-top: 5em;
}

.show {
  display: block;
}

.dropdown-show {
  cursor: pointer;
  justify-content: center;
}

ul {
  list-style-type: none;
}

li {
  cursor: pointer;
  display: inline-block;
  margin-right: 2em;
  font-size: 1.5em;
}

.dropdown-hidden li:hover {
  color: blueviolet;
}
